block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title}
    link(rel="stylesheet" href="/app.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    
    style
      
      footer { margin: 35px 0 15px 0; text-align: center }

  body
    div#root
      block layout-content
      script(src='https://cdnjs.cloudflare.com/ajax/libs/fetch/3.5.0/fetch.min.js')
      script(src='/script.js')